#intro {
  position: absolute;
  inset: 0;
  z-index: 20;
  overflow: hidden;
}

#introVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#introOverlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#introOverlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
}

#introOverlay button {
  font-size: 1.3rem;
  }
